/* ------------------------------------THEME CSS------------------------------------------- */
:root {
  --lightBackground: #e5f6fd;
  --white: #ffffff;
  --greenTheme: #018754;
  --gray: #777777;
  --orangetheme: #fed06c;
  --lightIcons: #d6d6d6;
  --textColor: #4a4a4a;
  --lightGreenTheme: #5cd5a7;
  --honeyDew: #edf8ef;
  --navyBlue: #000800;
}

$SECONDARY_TEXT: rgb(148, 164, 196);
